body {
  background-color: rgb(26, 26, 26);
}
header {
  height: 120px;
}
.header {
  border-bottom: 5px solid rgb(124, 124, 124);
  height: 120px;
  display: flex;
  justify-content: center;
}

#logo {
  height: 140px;
  width: 300px;
}
#GameRules {
  color: rgb(124, 124, 124);
}
#GameRulesList {
  color: rgb(124, 124, 124);
  font-weight: bold;
  font-size: 20px;
}

#parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top: 2px solid rgb(124, 124, 124);
  border-bottom: 2px solid rgb(124, 124, 124);
  border-right: none;
  border-left: none;
  box-shadow: 4px 4px 2px 1px rgb(124, 124, 124);
  background-color: rgb(26, 26, 26);
  font-size: 20px;
  color: rgb(124, 124, 124);
  text-align: center;
}

#child0 {
  margin-bottom: 20px;
  align-self: center;
  color: rgb(124, 124, 124);
  font-size: 35px;
}
.label {
  padding-left: 150px;
  padding-right: 150px;
}

#child1 {
  margin-bottom: 50px;
  align-self: center;
}
#child2 {
  margin-bottom: 100px;
  align-self: center;
}
#child3 {
  align-self: center;
}

#welcomePage {
  display: block;
}

#Game {
  display: none;
  flex-direction: column;
  justify-items: center;
}
#timer {
  align-self: center;
  color: rgb(124, 124, 124);
}
#endGame {
  align-self: center;
  padding-top: 35px;
}

#GameBox {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: 100px;
  gap: 20px;
  justify-items: center;
}
.score {
  color: rgb(124, 124, 124);
}
.XO {
}
.Boxs {
}
.Player12 {
}

.inputBox {
  background-color: rgb(124, 124, 124);
  font-size: 20px;
  margin: 20px;
  font-size: 50px;
}
#name {
  padding-left: 30px;
  padding-right: 30px;
}

.button {
  background-color: rgb(26, 26, 26);
  font-size: 40px;
  border: 5px solid rgb(124, 124, 124);
  border-radius: 20%;
  color: rgb(124, 124, 124);
  padding: 5px 50px 5px 50px;
  box-shadow: 4px 4px 2px 1px rgb(124, 124, 124);
}
